---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---

@charset "utf-8";

$color-primary: #3fb114; // was fed136  websafe == #ffcc33
$color-secondary: #33cc33; // was fec503  websage == #ffcc00
$color-secondary-dark: #333;

$fontstack: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontstack-header: league-gothic, sans-serif;
$fontstack-3: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontstack-brand: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;

$header-letter-spacing: 0.162791em;

@import
    "dringtech"
;
