---
title: Services
subheading: Tailored to your business needs
order: 10
---
<div class="row">

{% assign services = site.services | sort: 'order' %}

{% for service in services %}

  {% capture modalId %}{{ service.slug }}Modal{% endcapture %}

  <article class="col-md-4">
    <header>
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa {{ service.icon }} fa-stack-1x fa-inverse"></i>
      </span>
      <h1>{{ service.title }}</h1>
    </header>
    <p>{{ service.excerpt }}</p>
    <p class="text-center"><a class="btn btn-xl" href="#{{ modalId }}" class="portfolio-link" data-toggle="modal">Read more</a></p>
  </article>

  {% capture modalContent %}{{ service.content | markdownify }}{% endcapture %}
  {% include modal.html id=modalId title=service.title content=modalContent %}

{% endfor %}

</div>
