@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body text-document;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading uppercase tracking-cavernous font-bold;
  }

  .brand-logo {
    @apply bg-left bg-no-repeat bg-contain transition-all;
    background-image: var(--logo-image);
  }

  .site-header {
    @apply bg-black bg-opacity-30 relative;
  }

  .site-header::after {
    @apply bg-no-repeat bg-scroll bg-center bg-cover inset-0 absolute -z-1;
    content: "";
    background-image: var(--header-image);
  }
}

.shrink-nav {
  @apply bg-black;
}

.shrink-nav .brand-logo {
  @apply h-8;
}
