<!-- Services Section -->
<div class="row">

{% for service in site.data.services %}

  {% capture modalId %}{{ service.id }}Modal{% endcapture %}

  <article class="col-md-4">
    <header>
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa {{ service.icon }} fa-stack-1x fa-inverse"></i>
      </span>
      <h1>{{service.title}}</h1>
    </header>
    <p>{{ service.summary }}</p>
    <p><a class="btn btn-xl" href="#{{ modalId }}" class="portfolio-link" data-toggle="modal">Read more</a></p>
  </article>

  {% capture modalRaw %}{% include services/{{ service.precis }} %}{% endcapture %}
  {% capture modalContent %}
    {{ modalRaw | markdownify }}
  {% endcapture %}
  {% include modal.html id=modalId title=service.title content=modalContent %}

{% endfor %}

</div>
