<!-- Services Section -->
<div class="row">
{% for service in site.data.services %}
    <article class="col-md-4">
      <header>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa {{ service.icon }} fa-stack-1x fa-inverse"></i>
        </span>
        <h1>{{service.title}}</h1>
      </header>
      {% capture precis %}{% include services/{{ service.precis }} %}{% endcapture %}
      {{ precis | markdownify }}
    </article>
{% endfor %}
</div>
