<footer class="flex flex-col items-center gap-2 py-2">
  <p>Copyright &copy; {{ site.title }} {% include info/build-date.html %}</p>
  <ul class="flex gap-2">
    {% for network in site.social %}
    <li>
      <a
        class="
          block
          rounded-full
          text-center
          w-7
          h-7
          text-base
          text-white
          hover:bg-primary
          bg-gray-800
          hover:text-white
          transition-all
          transition-duration-500
        "
        href="{{ network.url }}"
        ><i class="fa fa-{{ network.title }} relative top-0.5"></i
      ></a>
    </li>
    {% endfor %}
  </ul>
</footer>
