{% capture link %}{% unless page.path == 'index.html' %}/{% endunless %}{% endcapture %}
<!-- Navigation -->
<header id='site-nav' class="fixed top-0 z-50 w-full p-4 flex flex-row items-start">
  <a class="brand-logo block w-full h-14 flex-grow-1 " href="{{ link }}" title="{{site.title}}"></a>

<!-- 
  <label for='nav-trigger' class="bg-primary rounded visible md:hidden">Menu</label>
  <input id='nav-trigger' type="checkbox" class="invisible"/>
-->

  <ul class="flex flex-row">
      <li class="hidden">
          <a href="{{ link }}"></a>
      </li>
      {% assign links = site.sections | where: "nav","true" | where: "enabled","true" | sort: 'order'%}
      {% for s in links %}
        <li>
            <a class="text-white p-2 rounded bg-transparent hover:text-white hover:bg-primary" href="{{ link }}#{{s.slug}}">{{ s.name }}</a>
        </li>
      {% endfor %}
  </ul>
</header>
