#cookie-approval {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $color-primary;
  margin: auto;
  padding: 1em;
  text-align: center;
  border-top: 2px solid $color-secondary-dark;
  a { color: #fff; font-size: 1.2em; }
}
