section {
  header {
    text-align: center;
  }
}

.contact {
  .form-group {
      margin-bottom: 25px;
      input, textarea {
        font-family: $fontstack;
        color: $color-secondary-dark;
        padding: 20px;
      }
      input.form-control {
          height: auto;
      }
      textarea.form-control {
          height: 236px;
      }
      &:focus {
          border-color: $color-primary;
          box-shadow: none;
      }
  }
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
      text-transform: uppercase;
      font-family: $fontstack-header;
      font-weight: 700;
      color: #bbb;
  }
  .text-danger {
      color: #e74c3c;
  }
}

section#contact {
  @extend .contact;
  background-color: #222;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
  header {
        color: #fff;
  }
}
